@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

.navigation
{
	position: fixed;
	top: 20px;
	right: 20px;
	width: 120px;
	height: 60px;
	background: #fff;
	box-shadow: 0 25px 35px rgba(0,0,0,0.1);
}

.navigation.userBx
{
	position: relative;
	width: 60px;
	height: 60px;
    border: 10px solid #fff;
}

.navigation .userBx .imgBx
{
	position: relative;
	width: 60px;
	height: 60px;
    background: #000;
    border-radius: 50%;
    border: 10px solid #fff;
}